---
import { PERSONAL_INFO } from "../../data/personal";
import Section from "../UI/Section.astro";
import Title from "../UI/Title.astro";
import Badge from "../UI/Badge.astro";
---

<Section id="about" title="About Me">
    <div class="max-w-4xl mx-auto" data-aos="fade-up">
        <div class="flex flex-col gap-6 text-center">
            <!-- <Title level={3} class="justify-center">
                {PERSONAL_INFO.title}
            </Title> -->
            {
                PERSONAL_INFO.about
                    .slice(0, 3)
                    .map((paragraph) => (
                        <p
                            class="text-lg md:text-xl text-gray-300 leading-relaxed font-light"
                            set:html={paragraph}
                        />
                    ))
            }
            <div class="mt-4 flex justify-center md:justify-start">
                <a
                    href="/about"
                    class="group inline-flex items-center gap-2 text-[#FFDE21] font-medium hover:text-white transition-colors duration-300"
                >
                    Read More
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="transform group-hover:translate-x-1 transition-transform duration-300"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</Section>
