---
import { Icon } from "astro-icon/components";
---

<footer class="py-12 border-t border-white/5 bg-gray-950/50 backdrop-blur-sm">
    <div
        class="max-w-7xl mx-auto px-6 flex flex-row items-center justify-center gap-4 text-center"
    >
        <a
            href="https://github.com/mohsen-raoufi"
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-400 hover:text-primary transition-all duration-300 hover:scale-110 active:scale-95"
            aria-label="Mohsen Raoufi's GitHub"
        >
            <Icon name="lucide:github" class="size-6" />
        </a>

        <p class="text-gray-400 text-sm md:text-base">
            by <span class="text-white font">Mohsen Raoufi</span>, with passion,
            powered by
            <a
                href="https://astro.build"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white font-medium hover:text-primary transition-colors"
            >
                Astro
            </a>
        </p>
    </div>
</footer>
